 <footer>
        <div class="footer-grid">
            <div>
                <h4>Home</h4>
                <a href="{{ url_for('home') }}#categories">Categories</a><a href="{{ url_for('home') }}#must-watch">Must-Watch</a><a href="{{ url_for('subscription') }}">Pricing</a><a href="{{ url_for('faq') }}">FAQ</a>
            </div>
            <div>
                <h4>Movies</h4>
                <a href="#">Genres</a><a href="#">Trending</a><a href="#">New Release</a><a href="#">Popular</a>
            </div>
            <div>
                <h4>Shows</h4>
                <a href="#">Genres</a><a href="#">Trending</a><a href="#">New Release</a><a href="#">Popular</a>
            </div>
            <div>
                <h4>Support</h4>
                <a href="contact_us.html">Contact Us</a><a href="privacy_policy.html">Privacy Policy</a>
            </div>
            <div>
                <h4>Connect With Us</h4>
                <div class="social-icons">
                    <a href="https://www.instagram.com/abhay_khakhriya?igsh=MWM5aGwwNjJ1ejM2Mw==" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/abhay-khakhriya-b0743a323?utm_source=share_via&utm_content=profile&utm_medium=member_android" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>