{% extends "base.html" %}

{% block title %} Filmora-Movies {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/series.css') }}">
{% endblock %}

{% block content %}
        <section class="hero-carousel-wrapper">
        <div class="hero-track">
            {% for poster_series_data in poster_series_data %}
            <div class="hero-slide ">
                <img class="hero-slide-image" src="{{ url_for('static', filename='image/' + poster_series_data.series_thumbnail) }}" alt="{{ poster_series_data.series_name }}">
                <div class="hero-content">
                    <h1 class="hero-title">{{ poster_series_data.series_name }}</h1>
                    <p class="hero-description">{{ poster_series_data.series_description }}</p>
                    <div class="hero-buttons">
                        <a href="{{ url_for('series.series_detail', series_id=poster_series_data.series_id) }}" class="btn btn-primary"><i class="fa-solid fa-play"></i> Play Now</a>
                        <!-- <button class="btn btn-secondary" title="Add to Watchlist"><i class="fa-solid fa-plus"></i></button> -->
                        <a href="{{ url_for('series.wishlist', item_type = 'series', item_id = poster_series_data.series_id) }}" class="btn btn-secondary" title="Add to Watchlist"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        <div class="carousel-dots" id="hero-carousel-dots"></div>
    </section>

    <main class="container">

        <div class="section-tag-badge">New Releases</div>
        <section class="row-section">
            <div class="row-header">
                <h2>New Releases Now</h2>
                <div class="slider-controls">
                    <button class="control-btn prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="control-btn next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="cards-slider">
                {% for series in series_data %}
                <div class="standard-card">
                    <div class="card-img-wrapper"><img src="{{ url_for('static', filename='image/' + series.series_Poster) }}" alt="{{ series.series_name }}"><div class="hover-overlay"><button class="play-overlay-btn"><i class="fa-solid fa-play"></i></button></div></div>
                    <div class="card-content"><h3>{{ series.series_name }}</h3><div class="card-meta"><span>{{ series.duration }}</span><span class="badge-red">New</span></div></div>
                </div>
                {% endfor %}
            </div>
        </section>

        <div class="section-tag-badge">Curated For You</div>
        <section class="row-section">
            <div class="row-header">
                <h2>Must - Watch Movies</h2>
                <div class="slider-controls">
                    <button class="control-btn prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="control-btn next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="cards-slider">
                {% for most_reviewed_series_data in most_reviewed_series_data %}
                    
                <a href="{{ url_for('series.series_detail', series_id=most_reviewed_series_data.series_id) }}" tyle="color: white;">
                <div class="standard-card">
                    <div class="card-img-wrapper"><img src="{{ url_for('static', filename='image/' + most_reviewed_series_data.series_Poster) }}" alt="{{ most_reviewed_series_data.series_name }}"><div class="hover-overlay"><button class="play-overlay-btn"><i class="fa-solid fa-play"></i></button></div></div>
                    
                    <div class="card-content"><h3 tyle="color: white;">{{ most_reviewed_series_data.series_name }}</h3><div class="card-meta"><span>{{ most_reviewed_series_data.duration }}</span><span class="rating"><i class="fa-solid fa-view"></i> {{ most_reviewed_series_data.view }}</span></div></div>
                
                </div>
                </a>
                
                {% endfor %}
            </div>
        </section>

        <div class="section-tag-badge">Animation</div>
        <section class="row-section">
            <div class="row-header">
                <h2>Anime Movies</h2>
                <div class="slider-controls">
                    <button class="control-btn prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="control-btn next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="cards-slider">
                {% for anime_series_data in anime_series_data %}
                <div class="standard-card">
                    <div class="card-img-wrapper"><img src="{{ url_for('static', filename='image/' + anime_series_data.series_Poster) }}" alt="{{ anime_series_data.series_name }}"><div class="hover-overlay"><button class="play-overlay-btn"><i class="fa-solid fa-play"></i></button></div></div>
                    <div class="card-content"><h3>{{ anime_series_data.series_name }}</h3><div class="card-meta"><span>{{ anime_series_data.duration }}</span><span class="rating"><i class="fa-solid fa-view"></i> {{ anime_series_data.view }}</span></div></div>
                </div>
                {% endfor %}
            </div>
        </section>

        <div class="section-tag-badge">Upcoming</div>
        <section class="row-section">
            <div class="row-header">
                <h2>Coming Soon</h2>
                <div class="slider-controls">
                    <button class="control-btn prev"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="control-btn next"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="cards-slider">
                {% for upcoming_series_data in upcoming_series_data %}

                <div class="standard-card">
                    <div class="card-img-wrapper"><img src="{{ url_for('static', filename='image/' + upcoming_series_data.series_Poster) }}" alt="{{ upcoming_series_data.series_name }}"><div class="hover-overlay"><button class="play-overlay-btn"><i class="fa-solid fa-bell"></i></button></div></div>
                    <div class="card-content"><h3>{{ upcoming_series_data.series_name }}</h3><div class="card-meta"><span>{{ upcoming_series_data.series_release_date }}</span><span class="badge-blue">Remind Me</span></div></div>
                </div>
                {% endfor %}
            </div>
        </section>

    </main>
    

    
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/series.js') }}"></script>
{% endblock %}
